#root {
  font-family: sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
}
